.Login .leftSide {
    background: radial-gradient(#4e4b5c 20%, #2e274c 40%, #2e274c 100%);
    display: flex;

    color: white;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}
.Login input,
.Login button {
    border: none;
    outline: none;
    padding: 1.5em 3em;
    font-size: 1em;
}
.Login button {
    cursor: pointer;
    padding: 1em 3em;
    background-color: var(--color0);
    color: white;
}
.Login h3 span {
    font-weight: 200;
}
