:root {
    --color0: #2e274c;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 100vw;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Loading {
    width: 100vw;
    height: 100vh;
    background-color: var(--color0);
    padding: 5em;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.Container {
    width: 100%;
    height: 100vh;
}
